*{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
.hot-word-con a{
    color: #000;
}
body{
	background: #f5f5f5 url(img/a1.png);
	background-repeat: no-repeat;
	background-position: top;
}
.activity-area .page-list .page-item, a, a:hover {
    text-decoration: none;
}
/* 顶部开始 */
.total{
    height: 50px;
	width: 100%;
	background: rgba(255, 0, 53, 0.9);
    transition: all .5s;
    box-shadow: 0 0 4px #eaeaea;
	position: fixed;
	top: -50px;
	left: 0;
	z-index: 20;
}
.total-container{
	width: 1226px;
	height: 100%;
	margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}
.total-container i{
	display: block;
	width: 150px;
    margin-top: 12px;
    z-index: 20;
    height: 30px;
    line-height: 30px;
    color: #fff;
    position: absolute;
    top: 0;
	left: 0;
	font-size: 30px;
    overflow: hidden;
    box-sizing: border-box;
}
.mall-searcher{
	width: 740px;
    height: 30px;
    padding-top: 10px;
	margin-left: 245px;
}
.mall-searcher input{
	width: 650px;
	height: 30px;
	float: left;
	font-size: 12px;
	padding: 10px;
	box-sizing: border-box;
	border: none;
	outline: none;
}
.submit-btn{
    float: left;
	width: 90px;
    height: 30px;	
    font-size: 16px;
    cursor: pointer;
	color: #fff;
	text-align: center;
	line-height: 30px;
    background-color: #FF0036;
    overflow: hidden;
}
/* 顶部导航栏开始 */
.nav-box{
	border-bottom-color: transparent ;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
	width: 100%;
	height: 40px;
	background-repeat: repeat;
	background-position: left;
	background-color: #550283;
	z-index: 99999;
	border-bottom: 1px solid #000000;
}
.nav-bd{
	width: 1230px;
	height: 32px;
	margin: 0 auto;
	color: #fff;
	font-size: 12px;
	position: relative;
}
.nav-bd .sn-login-info{
	height: 32px;
    line-height: 32px;
	display: inline-block;
}

.nav-box .sn-login{
    padding-left: 20px;
	padding: 0 10px;
	color: #FFFFFF;
	text-decoration: none;
}
.nav-box .sn-register{
	padding: 0 10px;
	color: #FFFFFF;
	text-decoration: none;
}
em{
    font-style: normal;
}
.sn-quick-menu{
	width: 540px;
	height: 32px;
    line-height: 32px;
	position: absolute;
    right: 0;
    top: 0;
	
}
.nav-box .sn-quick-menu li{
	float: left;
    position: relative;
}
.menu-bd{
    width: 94px;
    height: 0;
    line-height: 14px;  
    position: absolute;
    top: 40px;
    left: 2px;
    z-index: 10;
    background-color: #fff;
    overflow: hidden;
}

.menu-bd a{
    display: block;
    margin-top: 6px;
    text-align: center;
    line-height: 20px;
    color: #666;
    padding: 0 2px;
}
.nav-box .sn-quick-menu li:hover .menu-bd{
    height: 60px;
}
.menu-bdc{
    width: 160px;
    height: 0;
    line-height: 14px;  
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 10;
    background-color: #fff;
    overflow: hidden;
}
.menu-bdc :nth-child(1){
    width: 160px;   
    color: #000;
    font-weight: 800;
}
.menu-bdc a{
    display: block;
    width: 70px;
    height: 14px;
    display: block;
    margin-top: 6px;
    margin-left: 6px;
    line-height: 14px;
    color: #666;
    padding: 0 2px;
    float: left;
}
.cc:hover .menu-bdc{
    height: 120px;
}
.nav-box .sn-menu{
    position: relative;	
}
.nav-box .menu-hd{
    display: block;
    height: 40px;
    cursor: pointer;
    border: solid #f2f2f2;
    border-width: 0 1px;
    position: relative;
    margin-left: 2px;
	padding: 0 10px;
	border-color: #550283;
	padding-right: 14px;
	color: #FFFFFF;
	text-decoration: none;
}
.nav-box .menu-hd:hover{
	color: #ff0036;
	background: #fff;
	padding-bottom: 1px;
	border-color: #eee;
	text-decoration: underline;
}
.nav-box .sn-quick-menu .menu-hd b{
    top: 15px;
	position: absolute;
    right: 6px;
    width: 0;
    height: 0;
    border-width: 3px;
    border-style: solid dashed dashed;
    border-color: #bbb transparent transparent;
    font-size: 0;
    line-height: 0;
}
.sn-cart{
    position: relative;
    text-align: center;
    text-decoration: none;
	padding: 0 10px;
	color: #FFFFFF;
}	
.sn-cart i{
	position: relative;
    top: -1px;
	font-size: 12px;
}
.sn-cart:hover{
	color: #ffe013;
}
.sn-cart:hover .sn-cart-link{
	color: #ffe013;
}
.sn-cart-link:hover .count{
	color: #ffe013;
}
.sn-cart .sn-cart-link{
	color: #fff;
	text-decoration: none;
}
.sn-separator{
	display: inline-block;
    width: 0;
    height: 14px;
    line-height: 14px;
    vertical-align: top;
    position: relative;
    left: 0;
    font-size: 0;
    border-left: 1px solid #ccc;
    margin: 0 2px 0 5px;
	top: 9px;
}
.menu-hd{
	font-weight: 400;
	padding-right: 14px;
	height: 40px ;
	border-color: #550283;
	display: block;
    cursor: pointer;
    z-index: 1;
    border: solid #f2f2f2;
    border-width: 0 1px;
    position: relative;
	padding: 0 10px;
	font-size: 12px;
}
.sn-sitemap i{
	font-size: 10px;
}
.daohang-bd{
    display: none;
    width: 1198px;
    height: 126px;
    background-color: #fff;
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 500;
    overflow: hidden;
}
.daohang-bd :nth-child(1){
    width: 1198px;
    height: 14px;
    color: #ff6700;
    font-size: 16px;
    margin-left: 8px;
    margin-top: 18px;
}
.daohang-bd a{
    display: block;
    width: 70px;
    height: 14px;
    margin-top: 12px;
    margin-left: 8px;
    line-height: 14px;
    color: #666;
    padding: 0 2px;
    float: left;
}
/* .sn-sitemap .sn-menu .menu-hd:hover .daohang-bd{
    height: 126px;
} */
/* 顶部导航栏结束 */

/* 搜索栏开始 */
.header{
	margin-bottom: 0;
    min-width: 990px;
    background: #fff;
	height: 130px;
    margin-top: 0;
	background: #550283;
	position: relative;
}
.headerLayout{
	width: 1230px;
	height: 106px;
	margin: 0 auto;
}
.mall-search{
	width: 625px;
	height: 70px;
    padding-top: 38px;
	margin: 0 auto;
	overflow: hidden;
	box-sizing: border-box;
}
.search-box{
	height: 40px;
	border: 2px solid white ;
	clear: both;
	position: relative;
	
}
.search-box .search-input{
	display: block;
	height: 30px;
    width: 491px;
    /* font: 16px/22px arial; */
    box-sizing: border-box;
	background: #550283;
	color: #fff;
	padding: 0 10px;
	outline: 0;
	background: 0 0;
	border: none;
	border-bottom: 2px solid white;
}
.s-combobox-placeholder{
	visibility: visible;
	font-size: 14px;
    line-height: 30px;
    height: 30px;
	max-width: 90%;
    overflow: hidden;
    white-space: nowrap;
	position: absolute;
    left: 12px;
    top: 0;
    z-index: 1;
	color: #fff;
	cursor: default;
}
.mall-search button{
	width: 132px;
    height: 30px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px;
	background-color: #fff ;
    color: #FF0036;
	position: absolute;
	right: 0;
    top: 0;
	border: 0;
	cursor: pointer;
	overflow: hidden;
    font-family: '\5FAE\8F6F\96C5\9ED1',arial,"\5b8b\4f53";
}
.hot-query{
	width: 625px;
	height: 28px;
    font-size: 14px;
	margin-top: 10px;
	margin-left: 288px;
}
.hot-query li{
	display: inline-block;
    border-left: 1px solid #ccc;
    line-height: 1.1;
    padding: 0 12px;
}
.hot-query li a{
	color: #fff;
	text-decoration: none;
}
.hot-query .hot-query-highlight a{
	color: #ffe013;
}
.hot-query li:nth-child(1){
	display: inline-block;
	border-left: 1px solid #550283;
	line-height: 1.1;
	padding: 0 12px;
}

/* 搜索栏结束 */

/* .content{
	width: 100%;
	height: 6886px;
	background-color: #f5f5f5;
	color: #999;
    font-size: 12px;
	position: relative;
    z-index: 10000;
} */
/* 轮播图开始 */
.main-nav{
	background-color: rgba(0, 0, 0, 0);
    border-width: 0px;
	white-space: nowrap;
    position: relative;
    font-size: 0;
    padding-top: 0;
    height: 35.5px;
    border-style: solid;
    border-color: #FF0036;
}
.inner-con0 {
    height: 36px;
    line-height: 36px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.inner-con1 {
    width: 1230px;
    margin: 0 auto;
    padding-right: 30px;
}
.inner-con2 {
    background-color: white;
    border-style: solid;
    border-width: 0px 0px 1.5px;
    border-color: #FF0036;
    height: 34.5px;
	margin-left: 214px;
    width: 1030px;
}
.main-nav a {
    height: 35px;
    cursor: pointer;
    float: left;
    padding: 0 8px;
    font-weight: 500;
    font-size: 16px;
    display: block;
    color: #333;
    letter-spacing: normal;
    position: relative;
}
.main-nav a img {
    width: 100px;
    height: 30px;
    margin-top: 3px;
    display: block;
}
.main-nav a:hover {
    color: #FF0036;
}
.category-con {
    position: relative;
    height: 500px;
    width: 1230px;
	margin: 0 auto;
}
.category-con .category-inner-con {
    width: 1230px;
    padding-right: 30px;
    position: relative;
    height: 0;
    z-index: 100;
    margin: 0 auto;
}
.logo-con {
    height: 130px;
    width: 290px;
    position: absolute;
    z-index: 100000;
    margin-top: -167px;
    margin-left: -45px;
}
.logo-con img{
	width: 100%;
	height: 100%;
}

.category-con .category-tab-nav {
    position: absolute;
    z-index: 100;
    margin-top: -36px;
    height: 36px;
    width: 200px;
    color: #fff;
    line-height: 36px;
}
.category-con .category-tab-nav .category-tab-nav-item {
    float: left;
    width: 100px;
    text-align: center;
    font-size: 14px;
	color: #f0f0f0;
    cursor: pointer;
	background-color: #C60A0A;
}
.category-tab-nav-item.selected {
    color: #DD2727;
	background-color: #eee;
}
.category-tab-nav-item.selected:hover{
	color: #DD2727;
    background-color: rgba(238,238,238,.95);
}
.category-tab-nav-item.meeting-tab {
    position: relative;
    color: #ffe013;
}
.category-tab-nav-item.meeting-tab:hover{
	color: #fff;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAAA1BMVEUYFRXvJ83tAAAAAXRSTlPM0jRW/QAAAApJREFUCNdjAAIAAAQAASDSLW8AAAAASUVORK5CYII=);

}
.normal-nav {
    background-color: rgba(0,0,0,.55);
    width: 200px;
    height: 500px;
    position: relative;
    z-index: 11;
	box-sizing: border-box;
}
.nav-item {
    /* position: relative; */
    height: 31.2px;
    line-height: 31.2px;
    color: #fff;
    font-size: 14px;
}
.nav-item:hover{
	background: #fff;
	font-weight: 800;
}
.l1:hover a{
	color: #e54077;
}
.l1:hover{
	color: #e54077;
}
.l2:hover a{
	color: #427def;
}
.l2:hover{
	color: #427def;
}
.l3:hover a{
	color: #fa5c5c;
}
.l3:hover{
	color: #fa5c5c;
}
.l4:hover a{
	color: #f7a831;
}
.l4:hover{
	color: #f7a831;
}

.nav-item i {
    display: inline-block;
	opacity: .5;
    margin-left: 14px;
    margin-right: 4px;
    height: 31px;
    line-height: 31px;
    font-size: 16px;
}
.nav-item a {
    height: 31px;
    color: #fff;
    font-size: 14px;
}
.bannerList-r{
	display: none;
    position: absolute;
    left: 200px;
    top: 0;
    font-size: 36px;
    z-index: 999;
    width: 852px;
    height: 500px;
    border: 1px solid #e0e0e0;
    border-left: 0;
    background: #fff;
    box-shadow: 0 8px 16px rgba(0,0,0,0.18);
}

.wheel-box{
	width: 1230px;
	height: 500px;
	position: absolute;
	top: 0;
	left: 0;
	background: #DE04FD;
	cursor: pointer;
}
.wheel{
	width: 100%;
	height: 100%;
	background: url(//img.alicdn.com/imgextra/i4/42/O1CN01KfkR8R1CBH8T78EFG_!!42-0-luban.jpg_q100.jpg_.webp) no-repeat center center;
}
.banner-imgs{
    height: 500px;
    width: 1230px;
    margin: 0 auto;
    float: left;
}
.banner-imgs .imgBox{
	width: 100%;
	height: 100%;
}
.banner-imgs img{
	width: 100%;
    height: 100%;
}
.banner-imgs .imgBox a{
	width: 1230px;
    height: 500px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .5s;
}
.banner-imgs .imgBox .active{
    opacity: 1;
}
.dots{
	width: 240px;
	height: 20px;
	position: absolute;
	right: 540px;
	bottom: 30px;
}
.dots .active{
	background-color: #fff;
	background-color: rgba( 255,255,255,0.6);
	border-color: #757575;
	border-color:rgba(0,0,0,0.4);
}
.dot{
	width: 24px;
    height: 4px;
    margin: 0 6px;
    border: 2px solid #fff;
    border-color: rgba(255,255,255,0.3);
    text-align: left;
    overflow: hidden;
    background: #f5f5f5;
    background: rgba(0,0,0,0.4);
	transition: all .2s;
	float: left;
	cursor: pointer;
} 
.dot:hover{
	background-color: #fff;
	background-color: rgba( 255,255,255,0.6);
	border-color: #757575;
	border-color:rgba(0,0,0,0.4);
}
.wheel-img{
	width: 220px;
	height: 235px;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 8px;
    z-index: 26;
}
.wheel-img img{
	width: 100%;
	height: 100%;
	background: #f0f0f0;
	margin-top: 6px;
	transition: all .2s linear;
    opacity: 0.9;
}
.wheel-img img:hover{
	background: #fff;
	cursor: pointer;
}
/* 轮播图结束 */

/* 38女王节开始 */
.activity-bg {
    background-image: url();
}
.activity-area {
    margin: auto;
    width: 1230px;
    /* padding-right: 30px; */
}
.activity-area .page-list {
    width: 1240px;
    height: 435px;
}
.bg-style{
    background: url(//img.alicdn.com/tfs/TB1coAFJAvoK1RjSZFwXXciCFXa-600-130.png) center no-repeat;
    background-size: 300px 65px;
    height: 105px;
}
.group-wrapper {
    position: relative;
    float: left;
    width: 610px;
    height: 330px;
    margin-right: 10px;
}
.first-page{
	position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 330px;
    margin: 0;
	color: #ff0e3c;
    background-image: url(//img.alicdn.com/tfs/TB1B7IzJpzqK1RjSZFCXXbbxVXa-250-330.png);
	box-shadow: -5px 5px 10px rgba(0,0,0,.2);
	cursor: pointer;
}
.first-page .page-name {
    padding-top: 32px;
	margin: 0;
    text-align: center;
	display: block;
    font-size: 24px;
    font-weight: 700;
}
.page-benefit {
    display: block;
    margin-left: 25px;
    font-size: 18px;
	margin: 0;
	text-align: center;
}
.activity-area .page-list .page-benefit span {
    border-radius: 20px;
    padding: 0 5px;
	
}
.activity-area .page-list .item-pic {
    position: relative;
    margin: 20px auto 0;
    width: 180px;
    height: 180px;
    display: block;
}
.second-page{
	position: relative;
    display: block;
    background: #fff;
    width: 350px;
    height: 160px;
    margin: 0 0 10px 260px;
    border-radius: 4px;
	color: #8300ff;
    background-image: url(//img.alicdn.com/tfs/TB1SMZUJxnaK1RjSZFBXXcW7VXa-350-160.png);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
	cursor: pointer;
}
.second-page .page-name {
    display: block;
    margin-left: 30px;
    padding-top: 27px;
    font-size: 24px;
    font-weight: 700;
}
.activity-area .page-list .item-pic.horizontal {
    width: 130px;
    height: 130px;
    position: absolute;
    right: 15px;
    top: 15px;
    margin: 0;
}
.second-page .page-benefit span{
    float: left;
	margin-left: 25px;
}
.two{
	position: relative;
    display: block;
    background: #fff;
    width: 350px;
    height: 160px;
    margin: 0 0 10px 260px;
    border-radius: 4px;
	color: #009d66;
    background-image: url(//img.alicdn.com/tfs/TB1iWoqJCrqK1RjSZK9XXXyypXa-350-160.png);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
/* 38女王节结束 */
/* 闪购开始 */
.shan-box{
	margin: 0 auto;
    padding-top: 24px;
    width: 1230px;
	height: 372px;
}
.shan-item{
	width: 234px;
	float: left;
    height: 370px;
    margin-right: 13px;
    background-color: #fff;
}
.ia{
	width: 485px;
}
.ib{
	width: 485px;
	margin-right: 0;
}
.head{
	height: 54px;
    background: #fff;
    border-style: solid;
    border-width: 0 0 1px;
    border-color: #eee;
    position: relative;
}
.head .cn{
	display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    line-height: 54px;
    height: 18px;
    margin-left: 10px;
}
.head .en{
	display: inline-block;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    margin-left: 10px;
    line-height: 24px;
    height: 40px;
}
.body{
	display: block;
	height: 316px;
	transition: .1s linear;
}
.body:hover{
	opacity: 0.7;
}
.body img{
	width: 100%;
	height: 100%;
}
.more{
	position: absolute;
    right: 14px;
    top: 0;
    width: 42px;
    height: 54px;
    line-height: 54px;
    z-index: 99;
    background-size: 18px 18px;
    background-image: url(https://img.alicdn.com/tfs/TB1B7RoaMMPMeJjy1XcXXXpppXa-36-36.png);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 14px;
    font-size: 16px;
    color: #666;
    overflow: hidden;
}
/* 闪购结束 */
.big-box{
	width: 100%;
	height: 5472px;
}
/* 图标开始 */
.new-hot-brand-con {
    margin: 15px auto 0;
    width: 1230px;
    position: relative;
}
.module-body {
    height: 327px;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
	margin: 0 auto;
}
.brand-list {
    background-color: #f5f5f5;
    margin-right: -1px;
    width: 100%;
    height: 100%;
    float: right;
    position: relative;
}
.brand-item-body {
    margin-right: -2px;
    overflow: hidden;
}
.brand-list .brand-item {
    width: 122px;
    height: 108px;
    margin-right: 1px;
    margin-bottom: 1px;
    float: left;
    position: relative;
}
.brand-item .brand-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    /* background-color: #333; */
    background-color: rgba(0,0,0,.8);
    transition: all .3s ease-out;
    opacity: 0;
    /* filter: alpha(opacity=0); */
}
.brand-item .brand-mask .coupon {
    color: #fff;
    text-align: center;
    line-height: 90px;
    height: 60px;
}
.brand-item .brand-mask .coupon span {
    display: block;
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.brand-item .brand-mask .enter {
    text-align: center;
    height: 32px;
}
.brand-item .brand-mask .enter span {
    display: inline-block;
    color: #fff;
    width: 63px;
    height: 18px;
    font-size: 12px;
    line-height: 15px;
    background-color: #FF0036;
    border-radius: 9px;
}
.module-body .brand-item .brand-img {
    margin: 0 auto;
    display: block;
    text-align: center;
    line-height: 108px;
    background-color: #fff;
}
.brand-list .brand-item :hover{
	background: #222222;
	opacity: 0.8;
	cursor: pointer;
}
.brand-img img:hover{
	background: #000000;
}
.brand-img img {
    width: 82%;
    height: 50px;
}
img, input {
    vertical-align: middle;
}
.refresh-btn {
    width: 122px;
    height: 108px;
    display: block;
    color: #999;
    background-color: #fff;
    position: absolute;
    bottom: 1px;
    right: 1px;
    overflow: hidden;
    transition: all .3s ease-out;
    z-index: 500;
}
.refresh-btn i{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -30px;
    font-size: 30px;
    text-align: center;
    line-height: 38px;
    border-radius: 20px;
}
.btn-text {
    display: block;
    font-size: 14px;
    line-height: 136px;
    text-align: center;
}
.refresh-btn:hover {
    color: #fff;
    background-color: #FF0036;
}
/* 图标结束 */
/* 天猫超市开始 */
.new-floor-con {
    margin: 20px auto 0;
    width: 1230px;
}
.floor-line-con {
    margin-top: 20px;
    width: 100%;
    height: 665px;
    position: relative;
}
.floor-name {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    color: #000;
    height: 28px;
}
.floor-name img {
    vertical-align: middle;
    width: 214px;
    height: 25px;
}
 .line-body {
    width: 100%;
    height: 618px;
    margin-top: 10px;
    overflow: hidden;
}
.line-body .hot-word-con {
    position: absolute;
    top: 0;
    right: 0;
    width: 800px;
    text-align: right;
}
.line-body .hot-word {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin: 5px 10px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #f5f5f5;
}
.line-body .hot-word:hover {
    border-bottom: 1px solid #000;
}
.big-banner-con-2 {
    float: left;
    position: relative;
    width: 235px;
    height: 618px;
}
.big-banner-con-2 img {
    display: block;
    width: 100%;
    height: 618px;
	transition: all .2s linear;
}	
.big-banner-con-2 img:hover{
	opacity: 0.8;
	cursor: pointer;
}
.line-body .banner-detail {
    position: absolute;
    vertical-align: middle;
    bottom: 20%;
    width: 218px;
    height: 64px;
	cursor: pointer;
}
.banner-detail .left-title-wrap {
    background: rgba(0,0,0,.9);
    width: 70px;
    height: 64px;
    overflow: hidden;
    color: #FFF;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.banner-detail .left-title-wrap .left-title {
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
    font-size: 18px;
    width: 36px;
    overflow: hidden;
}
.banner-detail .right-title-wrap {
    left: 70px;
    top: 0;
    position: absolute;
    background: rgba(0,0,0,.6);
    overflow: hidden;
    width: 128px;
    height: 64px;
    color: #FFF;
    vertical-align: middle;
}
.banner-detail .right-title-wrap .right-title-absolute {
    margin-top: 8px;
    margin-left: 14px;
}
.banner-detail .right-title-wrap .right-title-absolute .right-title {
    display: block;
    line-height: 24px;
    font-size: 18px;
}
 .detail-wrap {
    background-image: linear-gradient(-180deg,rgba(0,0,0,0) 4%,rgba(0,0,0,.36) 100%);
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.detail-wrap .floor-arrow-big {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 32px;
    height: 32px;
}
.middle-column-con {
    width: 995px;
    height: 618px;
    float: left;
    overflow: hidden;
}
.line-body .grid.two-grid {
    width: 484px;
    height: 301px;
    margin-left: 13px;
}
.line-body .grid {
    float: left;
    display: block;
    border-bottom: 15px solid #f5f5f5;
    position: relative;
    background-color: #fff;
}
.floor-tabs {
    width: 462px;
    height: 282px;
    margin: 10px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.09);
}
.middle-column-con .floor-tabs:hover img{
	opacity: 0.7;
}
.floor-tab-head {
    overflow: hidden;
    background: #F1F1F1;
}
.floor-tab-head li:hover{
	color: #FFF;
	background: #00B262;
}
.floor-tab-head .floor-current-tab:hover {
	color: #FFF;
	background: #00B262;
}
.floor-current-tab {
    color: #000;
    background: #F1F1F1;
}
.floor-tab-head li {
    float: left;
    /* color: #000; */
    height: 57px;
    width: 191px;
    cursor: pointer;
    line-height: 30px;
    padding: 0 20px;
    text-align: center;
    vertical-align: middle;
}
.tab-title {
    margin-top: 16px;
    font-size: 18px;
    line-height: 20px;
}
.floor-tab-detail {
    height: 225px;
    width: 462px;
	cursor: pointer;
}
.right-detail {
    position: absolute;
    top: 153px;
    height: 87px;
    width: 291px;
    background-repeat: no-repeat;
    background-position: 0 center;
    background-color: rgba(0,0,0,0);
    background-image: url(https://img.alicdn.com/tfs/TB1AnTXewMPMeJjy1XcXXXpppXa-290-87.png);
    z-index: 99;
	
}
.right-detail .title-wrap .cla-icon {
    width: 23px;
    height: 23px;
    margin-top: -10px;
	margin-left: 26px;
}
.right-detail .title-wrap .tab-item-title {
    margin-left: 8px;
    font-size: 24px;
    font-weight: 700;
	color: #00B262;
    letter-spacing: 1px;
}
.right-detail .tab-desp {
    margin-left: 26px;
    font-size: 20px;
    letter-spacing: 1px;
}
.item-img {
    float: right;
    margin-top: 10px;
    margin-right: 30px;
    width: 200px;
    height: 200px;
}
.one-grid-price {
    width: 235px;
    height: 301px;
    margin-left: 13px;
    text-align: center;
}
.floor-item-content-wrap {
    width: 234px;
    height: 300px;
    border: 1px solid #fff;
}
.floor-item-content-wrap:hover img{
	opacity: 0.7;
}
.floor-item-content-wrap:hover{
	border: 1px solid red;
}
.floor-item-content-wrap img{
	width: 185px;
    height: 185px;
	margin-top: 20px;
}
.floor-item-title {
    width: 135px;
    height: 40px;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    overflow: hidden;
    margin: 8px auto;
}
.floor-price {
    font-size: 18px;
    color: #FF0036;
    line-height: 18px;
    margin: 10px auto;
	text-align: center;
}
/* 天猫超市结束 */
/* 天猫国际开始 */
.big-banner-con-1-1 {
    float: left;
    position: relative;
    width: 235px;
    height: 618px;
}
.big-banner-con-1-1 .full-grid {
    width: 235px;
    height: 301px;
    float: left;
    display: block;
    border-bottom: 15px solid #f5f5f5;
    position: relative;
    background-color: #fff;
}
.big-banner-con-1-1 .full-grid .baby{
    width: 235px;
    height: 301px;
}
.big-banner-con-1-1 .full-grid:hover img{
	opacity: 0.7;
}
.color-type-purple{
	width: 235px;
    height: 301px;
    margin-left: 13px;
}
	
.middle-column-con {
    width: 995px;
    height: 618px;
    float: left;
    overflow: hidden;
}
.grid .title {
    position: absolute;
    top: 20px;
    left: 25px;
    width: 220px;
    font-size: 18px;
    z-index: 10;
    line-height: 24px;
    height: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.grid .sub-title {
    position: absolute;
    top: 49px;
    left: 25px;
    width: 220px;
    font-size: 14px;
    z-index: 10;
    line-height: 18px;
    height: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.floor-item-content-wraps .sub-title{
    color: #7A45E5;
}
.floor-item-content-wraps {
    width: 234px;
    height: 300px;
    border: 1px solid #fff;
}
.floor-item-content-wraps img{
	display: block;
	width: 170px;
    height: 170px;
    margin: 90px 33px 42px 32px;
}
.floor-item-content-wraps:hover{
	border: 1px solid red;
}
/* 天猫国际结束 */
.full-banner {
	width: 1230px;
    height: 90px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
.full-banner img {
    display: block;
    width: 1620px;
    height: 90px;
    margin-left: -165px;
}
/* 美丽人生开始 */
.new-floor-con .floor-line-con .color-mark {
    display: inline-block;
    background-color: #333;
    width: 5px;
    height: 18px;
    vertical-align: middle;
}
.floor-line-con .floor-name .floor-title {
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
}
.new-floor-con .floor-line-con .floor-sub-name {
    display: inline-block;
    font-size: 14px;
    color: #000;
    margin-left: 10px;
    line-height: 24px;
    height: 18px;
}
/* 美丽人生结束 */
/* 潮电酷玩开始 */
/* 潮电酷玩结束 */
/* 猜你喜欢开始 */
.wonderful-con {
    width: 1230px;
    margin: 30px auto 0;
}
.wonderful-con .wonderful-title {
    color: #666;
    text-align: center;
    height: 43px;
    font-weight: 100;
}
.text-ctn {
    position: relative;
    font-size: 18px;
    line-height: 20px;
    font-family: 'Microsoft YaHei',SimSun,sans-serif,'\65b9\6b63\5170\4ead\9ed1';
}
.text-ctn i{
	position: relative;
    top: 1px;
    margin-right: 4px;
    font-size: 20px;
    color: #ff0036;
}

.text-ctn:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: #979797;
    top: 12px;
	left: -38px;
}
.text-ctn:after {
    right: -38px;
	content: '';
	position: absolute;
	width: 30px;
	height: 1px;
	background-color: #979797;
	top: 12px;
}
.love{
	background: #fff;
	float: left;
	margin-left: 12px;
	margin-bottom: 12px;
}
.loves{
	background: #fff;
	float: left;
}
.love-box{
	width: 1230px;
	height: 618px;
	margin: 0 auto;
}
.love img{
	display: block;
	margin-left: 25px;
	
}
.loves img{
	display: block;
	margin-left: 25px;
}
.tm-end.show {
    display: block;
}
.tm-end {
    background: url(//img.alicdn.com/tps/TB1wQDAPXXXXXXgaFXXXXXXXXXX-62-35.png) no-repeat;
    position: relative;
    content: '\20';
    text-align: center;
    width: 80px;
    height: 45px;
    margin: 0 auto 10px;
    background-size: cover;
    z-index: 9;
}
/* 猜你喜欢结束 */

/* 底部开始 */
.footer {
	width: 100%;
    background-image: url(//img.alicdn.com/tfs/TB1v5v3JCzqK1RjSZPcXXbTepXa-1702-546.png);
    background-size: 1702px 410px;
    background-repeat: no-repeat;
    background-position: center bottom;
	min-height: 558px;
    border-top: 1px solid #D1D7DC;
    clear: both;
    margin: 0;
    text-align: center;
    background: #fff;
    position: relative;
}
.tmall-ensure {
    width: 1190px;
    height: 100px;
    background: url(https://img.alicdn.com/tfs/TB14dANRXXXXXbdXXXXXXXXXXXX-1190-100.jpg) no-repeat;
    margin: 25px auto;
    padding: 0;
	cursor: pointer;
}
.tmall-desc {
    background-image: url(//img.alicdn.com/tfs/TB1dl28RXXXXXbzaFXXXXXXXXXX-136-50.png);
    background-repeat: no-repeat;
    background-size: 68px 25px;
	width: 1190px;
    padding-top: 22px;
    height: 190px;
    margin: auto;
    border-top: 1px solid #ededed;
	background: url(data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAAEQAAAAZCAMAAAC/3XipAAAABGdB…VYdGRhdGU6bW9kaWZ5ADIwMTctMDItMjBUMDk6NDY6MTQrMDg6MDAJdkpKAAAAAElFTkSuQmCC) 45px bottom no-repeat;
}
.tmall-desc:before {
    display: table;
    content: "";
    line-height: 0;
}
.ensure{
	float: left;
    width: 186px;
    padding-left: 52px;
}
.ensure dt{
	color: #646464;
    font-size: 16px;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    text-align: left;
}
.ensure dd{
	text-align: left;
	font-size: 12px;
}
.ensure dd a{
	display: block;
	width: 100px;
    overflow: hidden;
    text-align: left;
    height: 20px;
    line-height: 20px;
    color: #8b8b8b;
	cursor: pointer;
}
.mobile a{
	width: 105px;
    height: 105px;
    line-height: 105px;
    text-align: center;
}
.tmall-copyright {
    width: 1190px;
    margin: auto;
	border-top: 2px solid #FF0036;
    background: #000;
    text-align: left;
    min-height: 177px;
}
.footer-tmallinfo {
    color: #fff;
    line-height: 25px;
	margin-left: 12px;
}
.footer-otherlink{
	margin-left: 12px;
}
.footer p{
	padding: 5px 0;
	font-size: 12px;
}
.tmall-copyright a{
	color: #fff;
}
.footer-copyright {
    line-height: 20px;
    background: #000;
    color: #a4a4a4;
	width: 1178px;
    margin: 0 auto;
	font-size: 12px;
	margin-left: 12px;
}
.footer-copyright a {
    color: #a4a4a4;
    margin-right: 65px;
}
.footer-copyright img{
	margin-left: 65px;
}
.footer-copyright b {
    display: block;
    color: #686868;
    font-weight: 400;
}
.footer-fp-img {
	margin-left: 12px;
    display: block;
	cursor: pointer;
}
.footer-fp-img img{
	margin-right: 12px;
}
/* 底部结束 */
/* 左侧导航开始 */
.aside-left{
	width: 35px;
	height: 370px;
	position: fixed;
	bottom: 50px;
	left: 50%;
	margin-left: -673px;
	display: none;
}
.box{
	width: 36px;
	height: 36px;
	font-size: 12px;
	text-align: center;
	line-height: 50px;
}
.aside-box{
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin-top: 1px;
    overflow: hidden;
	font-size: 12px;
	background-color: rgba(0,0,0,.6);
}
.nav-header{
	background-color: #ff0036;
}
.nav-name{
	line-height: 12px;
    width: 24px;
    height: 28px;
    margin: 6px auto;
}
.nav-back{
	line-height: 13px;
    background-color: rgba(0,0,0,.3);
}
.nav-back i{
    display: block;
	font-size: 12px;
    margin-top: 5px;   
}
/* 左侧导航结束 */